*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Nunito, sans-serif;
}

main{
    padding: 24px;
}
.header-container{
     box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    padding-inline: 24px;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-inline: auto;
   
}
a{
    text-decoration-line: none;
    color: inherit;
}

.title{
    font-weight: 800;
}

.countries-container{
    max-width: 1280px;
    margin-inline: auto;
    margin-top: 16px;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
}

.country-card{
    display: inline-block;
    width: 250px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0 8px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 24px;
    transition: all 0.2s ease-in-out;
    
}

.country-card img{
    width: 100%;
}

.country-card:hover{
    transform: scale(1.03);
}

.card-text{
    padding-inline: 16px;
}

.card-title{
    font-size: 24px;
    margin-block: 16px;
}

.card-text p{
   margin-block: 8px; 
}

.dark-mode-toggle {
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

body.dark-mode {
  background: #202c37;
  color: #fff;
}

body.dark-mode .header-container,
body.dark-mode .countries-container {
  background: #2b3945;
  color: #fff;
}

body.dark-mode .dark-mode-toggle {
  background: #2b3945;
  color: #fff;
}