body{
    margin: 0;
    background-color: rgba(222, 205, 172, 1);
    font-family: cursive;
}

.popup{
 width: 690px;
height: 346px;
opacity: 1px;
border-radius: 41px;
padding: 8px;
background-color: azure;
position: fixed;
margin: auto;
inset: 0;
box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
display: none;
transition: transform 0.5s ease-in-out;
}

.open{
    display: block;
}

.close-icon{
font-size: 40px;
font-weight: 700;
position: absolute;
right: 16px;
cursor: pointer;
font-family: serif;

}